{% extends 'layout/3row.html' %}

{% block title %}{{ data.title }} 수정{% endblock %}

{% block header %}
    {% include 'content/nav.html' with active='board' %}
{% endblock %}

{% block center_content %}
    <div class="container">
        <form action="{% url 'board:mod' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ data.id }}">
            <div class="form-group">
                <input type="text" class="form-control" name="title"
                       placeholder="제목" value="{{ data.title }}" required>
            </div>
            <div class="form-group">
                <select class="form-control" name="b_type">
                    <option value="00" {% if data.b_type == '00' %}selected{% endif %}>공지사항</option>
                    <option value="01" {% if data.b_type == '01' %}selected{% endif %}>자유게시판</option>
                    <option value="02" {% if data.b_type == '02' %}selected{% endif %}>토론게시판</option>
                </select>
            </div>
            <div class="form-group">
                {{ form.content }}
            </div>
            <div>
                <a href="/media/{{ data.upload_file }}" download>{{ data.upload_file }}</a>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-outline-primary">작성</button>
            </div>
        </form>
    </div>
{% endblock %}